<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style type="text/css">
	
</style>
<body>
	<div class="aaaa">
		
	</div>
	<script src="jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="panel.js" type="text/javascript" charset="utf-8"></script>
    <script>
    	$(".aaaa").panel()
//      // (function () {
//      var multiplyByTwo = (function (a, b, c, callback) {
//          var i, ar = [];
//          for (i = 0; i < 3; i++) {
//              ar[i] = callback(arguments[i] * 2);
//          }
//          return ar;
//      })(1, 2, 3, function (a) {
//          return a + 1;
//      })
//      // })()
//      console.log(multiplyByTwo)
		// 利用闭包实现
		var Book = (function() {
		//静态私有变量
		var bookNum = 0;
		console.log(bookNum);
		//静态私有方法
		function checkBook(name) {}
		//创建类
		function _book(newId, newName, newPrice) {
		//私有变量
		var name, price;
		//私有方法
		function checkID(id){}
		//特权方法
		this.getName = function(){};
		this.getPrice = function(){};
		this.setName = function(){};
		this.setPrice = function(){};
		//公有属性
		this.id = newId;
		//公有方法
		this.copy = function(){};
		bookNum++
		if(bookNum>100){
		throw new Error('我们仅出版100本书.');}
		//构造器
		this.setName(name);
		this.setPrice(price);
		}
		//构建原型
		_book.prototype = {
		//静态公有属性
		isJsBook:false,
		//静态公有方法
		display:function(){}
		};
		//返回类
		return _book;
		
		})();
		var b=new Book(1,1,1);
		
//		console.log(bookNum);
    </script>
</body>

</html>