<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<script type="text/javascript">
			// function fatherclass(){
			// 	this.books=['Javascript','html','css'];
				
			// };//父
			// function sonclass(){};//子
			// sonclass.prototype=new fatherclass();//子继承父类
			// var instance1 =new sonclass();
			// var instance2 =new sonclass();
			// console.log(instance2.books)//['Javascript','html','css'];
			// instance1.books.push('设计模式')
			// console.log(instance2.books)//['Javascript','html','css','设计模式'];	
			for(var i=0;i<10;i++){
				setTimeout(function(){
					console.log(i)
				},10)
			}
		</script>
	</body>
</html>
