<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<script type="text/javascript">
			var methods=function(){};
			methods.addMethod('checkName',function(){
				return this;
			}).addMethod('checkEmail',function(){
				return this;
			});
			//
			methods.checkName().checkEmail();
			function.prototype.addMethod=function(name,fn){
				this.prototype[name]=fn;
			}
			//
			var methods=function(){};
			methods.addMethod('checkName',function(){
				return this;
			}).addMethod('checkEmail',function(){
				return this;
			});
			var m=new Methods();
			m.checkEmail()
		</script>
	</body>
</html>
