<!DOCTYPE html>
<html lang="en">

	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="calendar"></div>
		<iframe src="toggle.html" frameborder="0"></iframe>
		<!-- <a onclick="aaa()">aaaaaa</a> -->
		<script src="jquery-2.1.1.min.js"></script>
		<script src="js/time.js" type="text/javascript" charset="utf-8"></script>
		<script>
			// function aaa(){
			// 		console.log(11111)
			// 		close();
			// }
		</script>

	</body>

</html>