<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
//$("button").toggle(function(){
//  $("body").css("background-color","green");},
//  function(){
//  $("body").css("background-color","red");},
//  function(){
//  $("body").css("background-color","yellow");}
//);
	$("button").click(function(){
		alert("1111")
	})
});
</script>
</head>
<body>
<button>请点击这里，来切换不同的背景颜色</button>
<div style="height:100px">
	
</div>
<a onclick="aaa()">aaaaaa</a>
<script src="jquery-2.1.1.min.js"></script>
		<script src="js/time.js" type="text/javascript" charset="utf-8"></script>
		<script>
			function aaa(){
					console.log(11111)
					top.opener=null;
					top.close();  
			}
		</script>
</body>
</html>
